@{
    Layout = null;
}
<h2>About Angular Start</h2>
<div class="well well-large">
    This project template has been release by team <a href="http://www.technovert.com">Technovert</a>. It tries to integrate ASP.Net MVC \ WebAPI with AnuglarJS. 
    The overall site has been design in lines of how a Single Page Application (SPA) should be structured.
    The demo section contains a working example of AngularJS in action.
</div>