@{
    Layout = null;
}
<h1>Learn AngularJS</h1>
<br />
<h3>Getting Started with AngularJS</h3>
<p>If you are new to AngularJS the AngularJS <a href="http://angularjs.org/" target="_blank">home page</a> has a good description and working examples on capabilities of AngularJS. Also watch this video to get a quick overview of the Framework. 
    <br />
    <br />  
    <iframe width="420" height="315" src="//www.youtube.com/embed/i9MHigUZKEM" frameborder="0" allowfullscreen></iframe>
</p>
<p>Another great resource is <a href="http://www.egghead.io" target="_blank">egghead.io</a>. It has got around 50+ videos starting from the very basic to advance angular concepts like <strong>directives</strong>. 
    Look at the <a href="http://www.egghead.io/lessons" target="_blank">lessons</a> in a chronological order to gain some understanding.</p>
<p>If you want to see AngularJS in action or plan to compare AnugularJS with some other framework, what better way to do it than to create a sample app with AngularJS. 
    <a href="http://todomvc.com" target="_blank">TodoMVC</a> provides a solid starting point. Look at the <a href="http://todomvc.com/architecture-examples/angularjs">implementation</a> for AnuglarJS.</p>
<p>Looking at some existing implementation would also help. Look at these sites which highlight some Angular implementaions
    <ul>
        <li><a href="http://blog.angularjs.org/2012/11/angularjs-example-applications.html" target="_blank">Example Apps with Source code</a></li>
        <li><a href="http://builtwith.angularjs.org/" target="_blank">Build with Angular</a></li>
    </ul>
</p>

<p>Official AngularJS Step by Step <a href="http://docs.angularjs.org/tutorial" target="_blank">tutorial</a> is very helpful in providing a guided learning experience.</p>

<p>As soon as you would start any serious development in AngularJS you would inadvertently face the scopes prototypal nature issue. 
    <strong>This <a href="https://github.com/angular/angular.js/wiki/Understanding-Scopes" target="_blank">wiki</a> entry is something you cannot avoid. Read..read..reread ! </strong>
</p>
<br />
<h3>AngularJS for jquery developer</h3>
<p>If you come from a jquery background there is lot of unlearning to be done, inspite you knowing javascript and the framework iteself using jquery(or jqLite). 
The section above give a great starting for for jquery developers as well. 
<br /><strong>A must read is this SO <a href="http://stackoverflow.com/questions/14994391/how-do-i-think-in-angularjs-if-i-have-a-jquery-background?rq=1" target="_blank">post</a> to understand what is the paradigm shift involved if you have been doing jquery for a long time.</strong>
</p>
<br />
<h3>Sharpening the Saw</h3>
<p>The more effort you put in learning Angular the more the framework rewards you. 
    You learn to use capabilities of the framework that can make you super productive and help to understand why framework behaves the way it does</p>
<p>The resources below have been handpicked to help you make most of the framework.</p>
<ul>
    <li>Again ! this <a href="https://github.com/angular/angular.js/wiki/Understanding-Scopes" target="_blank">wiki</a> entry is something you cannot avoid. Read..read..reread ! </li>
    <li>Read the <a href="http://docs.angularjs.org/guide/" target="_blank">develper guide.</a> The guide explains the internal working on AnuglarJS and how things fit together. Once you are into serious development you would keep coming back to it again and again.</li>
    <li>Directives in Angular are the toughest part which cannot be avoid. Read the <a href="http://docs.angularjs.org/guide/directive" target="_blank">directive section of developer guide.</a> You may not get a hang of directive on the first go, so read..read..reread!</li>
    <li>If you want to know how does the super awesome <a href="http://stackoverflow.com/questions/9682092/databinding-in-angularjs/9693933#9693933" target="_blank">data binding</a> happens in Angular. Read the SO post.</li>
    <li>Ask question and help others on <a href="http://stackoverflow.com/questions/tagged/angularjs" target="_blank">Stack Overflow</a> or <a href="https://groups.google.com/forum/#!forum/angular" target="_blank">Google Groups</a></li>
    <li>Follow the latest in AngularJS on <a href="https://plus.google.com/+AngularJS" target="_blank">Google+ Channel</a></li>
</ul>