@{
    Layout = null;
}
<h2>Contact Us</h2>
<p>Contact us at <a href="mailto:angularstart@technovert.com?Subject=AngularStart1 Project Template.">angularstart@technovert.com</a> for any request \ clarifications. </p>
<p>Source code and binaries for this template have been released on <a href="https://angularstart.codeplex.com" target="_blank">CodePlex</a></p>