@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Welcome - AngularStart1</h1>
    <p>This is a ASP.Net MVC template for integrating MVC with AngularJS framework. The stack includes ASP.Net MVC, WebAPI, Bootstrap 2.3.2 and AngularJS 1.2.14.</p>
</div>
<div class="row">
    <div class="span4">
        <h3>Learning ASP.Net MVC</h3>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.</p>
        <p>
            <a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn More »</a>
        </p>
    </div>
    <div class="span4">
        <h3>New to AngularJS !</h3>
        <p><a href="http://angularjs.org/" target="_blank">AngularJS</a> is what HTML would have been, had it been designed for building web-apps.
            We have highlighted some of the resources that would help you learn about the framework and make you productive.
        </p>
         <p>
            <a class="btn" href="#/angular">Learn More »</a>
        </p>
    </div>
    <div class="span4">
        <h3>What's Included</h3>
         <p>This project integrates multiple libraries\components. 
             Other than the MVC framework and AngularJS there are other elements like Bootstrap for css. 
             Angular UI for some predefined UI widgets.
         </p>
         <p>
            <a class="btn" href="#/whatsincluded">Learn More »</a>
        </p>
    </div>
</div>

